.background-image {
  background-image: url('./assets/table.jpg');
  background-size: contain;
  background-position: center;
  height:700px;
  width:1300px;
  margin:0 auto;

  position: relative;
}
