.background-image {
  background-image: url('./assets/table.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;

  position: relative;
}
